body {
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

header img {
  width: 180px;
  position: relative;
  left: 100px;
  top: 40px;
}

.firstParagraphs {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  object-position: center;
  margin-bottom: 70px;
}

#firstBox {
  margin: 0;
  width: 100%;
  display: inline-block;
  margin-inline: auto;
}

.result {
  display: inline-block;
}
.results {
  text-align: right;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#button {
  font-size: 100px;
}

.main {
  margin: 100px;
  margin-inline: auto;
  width: 440px;
}
.contenitore2 {
  padding: 40px;
  margin-inline: auto;
  text-align: center;
  width: 50%;
}

button {
  padding: auto;
  background-color: transparent;
  color: white;
  border-radius: 120px;
  box-shadow: 0px 2px 1px, 1px -4px 10px;
  border: 0 5px solid;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  width: 40%;
  height: 120px;
}
.invisible {
  visibility: hidden;
}

#footer {
  color: white;
  margin-top: 3rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 45%
}

#footer span {
  font-size: 1.17em;
  color: rgb(194, 18, 141)
}
#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: rgb(0, 255, 255);
  fill: none;
  animation: countdown 20s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}