body {
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  min-height: 100vh;
    margin: 0;
}

header img {
  width: 180px;
  position: relative;
  left: 100px;
  top: 40px;
}

.firstParagraphs {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  object-position: center;
  margin-bottom: 70px;
}

#firstBox {
  margin: 0;
  width: 100%;
  display: inline-block;
  margin-inline: auto;
}

.result {
  display: inline-block;
}
.results {
  text-align: right;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#button {
  font-size: 100px;
}

.main {
  margin: 100px;
  margin-inline: auto;
  width: 440px;
}
.contenitore2 {
  padding: 20px;
  margin-inline: auto;
  text-align: center;
  width: 50%;
}

h1 {
  margin-top: 0;
}
button {
  padding: auto;
  background-color: transparent;
  color: white;
  border-radius: 120px;
  box-shadow: 0px 2px 1px, 1px -4px 10px;
  border: 0 5px solid;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  width: 40%;
  height: 120px;
}

button:hover {
  background-color: #bc008c;
}
.invisible {
  visibility: hidden;
}

#footer {
  color: white;
  margin-top: 3rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 45%;
}

#footer span {
  font-size: 1.17em;
  color: rgb(194, 18, 141);
}
#countdown {
  position: relative;
  margin-left: 80%;
  top: -50px;
  height: 160px;
  width: 220px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
  position: relative;
  top: 66%;
  font-size: 2.5em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.donut-hole {
  fill: transparent;
}

.timer-label-upper {
  font-weight: 300;
  fill: #fff;
  font-size: 0.17em;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
  text-anchor: middle;
  text-transform: uppercase;
}

.timer-label-lower {
  font-weight: 300;
  font-size: 0.17em;
  fill: #fff;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

#donut-segment {
  stroke-dasharray: 100 0;
  stroke-dashoffset: 25;
}

.animation {
  animation: countdown 21s linear infinite forwards;
}
@keyframes countdown {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: 100 0;
  }
}
