body {
    background-image: url(../bg.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 180px;
    position: relative;
    left: 100px;
    top: 40px;
}

a {
    text-decoration: none;
  }
div h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 55px; 
    width: 500px;
    margin-inline: auto;
    margin-bottom: 10px;
}

div h3 {
    color: white;
    text-align: center;
    margin-inline: auto;
    font-size: 25px; 
    margin-top: 0;
    font-weight: 300;
}

footer {
    margin-inline: auto;
    text-align: center;
    width: 100%;
    }


footer h2 {
    color: white;
    border-color: white;
    border: 2px solid;
    width: 215px;
    padding-block: 15px;
    margin-inline: auto;
    font-size: 1.5em;
    padding-block: 15px;
}

.chart-text {
    font: 16px/1.4em "Montserrat", Arial, sans-serif;
    fill: #fff;
    transform: translateY(0.25em);
  }

  .chart-label-colorChange {
    fill: aqua;
    font-size: 2px;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
  }
  .chart-label {
    font-size: 2px;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
  }

  .chart-label-1 {
    font-size: 1.5px;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
  }
#textResults {
    font-weight: 500px;
    color: white;
}


circle {
    fill: none;
}

.donut-segment {
    stroke-dashoffset: 25;
    stroke-dasharray: 100 0;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    from {
        stroke-dasharray: 100 0;
    }
    to {
        stroke-dasharray: 70 30;
    }
}


/* ------------------------------------------------------ */
#leftPosition {
    position: absolute;
    left: 10%;
    top: 30%;
    margin-top: 10px;
    margin-inline: auto;
    text-align: start;
    color: white;
    line-height: 75px;
   }
   
   #rightPosition {
    position: absolute;
    right: 10%;
    top: 30%;
    margin-top: 10px;
    margin-inline: auto;
    text-align: end;
    color: white;
    line-height: 75px;
   }

.leftCorrect {
    text-align: start;
    margin-bottom: unset;
    font-weight: 100;
  }
.rightIncorrect {
  text-align: end;
  margin-bottom: unset;
  font-weight: 100;
}

#container {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}

#rightPosition h2 {
  font-size: 3rem;
  margin-top: unset;
  margin-bottom: unset;
  line-height: 25px;
}

#leftPosition h2 {
  font-size: 3rem;
  margin-top: unset;
  margin-bottom: unset;
  line-height: 25px;
}
div h4 {
  font-size: 20px;
  margin-top: unset;
  line-height: 50px;
  font-weight: 100;
}